In [1]:
%matplotlib inline
import numpy as np
import scipy as sp
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import IPython as ip

In [2]:
mpl.style.use('ggplot')
mpl.rc('figure', figsize=(8.0, 5.5))
mpl.rc('font', family='Noto Sans CJK TC')
ip.display.set_matplotlib_formats('svg')

In [3]:
df_fair = sm.datasets.fair.load_pandas().data

In [4]:
df = df_fair
df = df.assign(affairs_yn=(df.affairs > 0),
               poor_marriage=(df.rate_marriage <= 2))
df_fair_2 = df

In [5]:
df = df_fair_2

df = (df
      .groupby(['poor_marriage', 'affairs_yn'])
      [['affairs']]
      .count()
      .rename(columns=dict(affairs='count'))
      .unstack())

display(df,
        df.apply(axis=1, func=lambda r: r/r.sum()))
        
print('p-value:',
      sp.stats.chi2_contingency(
          df,
          correction=False
      )[1])

              count
affairs_yn    False True
poor_marriage
False          4161  1758
True            152   295

                  count
affairs_yn        False     True
poor_marriage
False          0.702990  0.297010
True           0.340045  0.659955

p-value: 1.9460298519537103e-56

In [6]:
df = df_fair_2

df = (df
      # farming-like or white-colloar
      [df.occupation.isin([2, 3])]
      .groupby(['occupation', 'affairs_yn'])
      [['affairs']]
      .count()
      .rename(columns=dict(affairs='count'))
      .unstack())

display(df,
        df.apply(axis=1, func=lambda r: r/r.sum()))

print('p-value:',
      sp.stats.chi2_contingency(
          df,
          correction=False
      )[1])

           count
affairs_yn False True
occupation
2.0          607   252
3.0         1818   965

               count
affairs_yn     False     True
occupation
2.0         0.706636  0.293364
3.0         0.653252  0.346748

p-value: 0.0037369587127306517